html,
body {
  height: 100%;
}
.full-bg-img {  
    background: url("http://mdbootstrap.com/images/regular/nature/img%20(1).jpg") no-repeat center center fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}